:root {
    --color-items-do-header: rgb(40, 134, 227);
    --btn-e-input: rgb(230, 233, 236);
}

*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background: #f1f1f1;
}

/* Aqui esta toda estilização do header */

header, .cabecalho{
    background: #fdfdfd;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
header p{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 6px;
    padding: 0;
}
.cabecalho{
    padding: 1rem 6rem;
    margin: 16px 0;
}
input{
    margin-left: 1rem;
    width: 18rem;
    height: 2rem;
    border-radius: 20px;
    padding: 5px;
}
button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 16px;
    width: 9rem;
    height: 45px;
    margin-right: 8rem;
    border-radius: 5px;
}
input, button{
    border: 2px solid var(--color-items-do-header);
    background: var(--btn-e-input);
    font-size: 1.2rem;
    cursor: pointer;
}


.imagem{
    position: relative;
}
.imagem__principal{
  width: 100%;
  height: 50vw;
  max-height: 22rem;
  box-shadow: inset 0 0 150rem black;
  background: url('/alura_weeks/images/banner.jpg') center;
  background-size: cover;
}
.text__imagem{
    position: absolute;
    left: 1rem;
    bottom: 3rem;
    margin: 16px;
}
.text__imagem h2{
    line-height: 5rem;
    color: #fdfdfd;
    font-size: 3.7rem;
}
.text__imagem h3{
    color: #fdfdfd;
    font-size: 1.7rem;
}
a.button{
    display:inline-block;
    margin: 6px;
    width: 15vw;
    height: 3vw;
    text-align: center;
    padding:0.35em 1.2em;
    border:0.1em solid var(--color-items-do-header);
    border-radius:0.12em;
    font-family:'Roboto',sans-serif;
    font-size: 1.2rem;
    color: #fdfdfd;
    transition: all 0.3s;
}
a.button:hover{
color:#000000;
background-color: var(--color-items-do-header);
}
